@import 'core/settings';

*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

@import 'layout/header';
@import 'layout/main-index';
@import 'layout/main-news';
@import 'layout/main-map';