<main class="news-board">
    <article class="article one">
        <p class="title">Hermoso y ardiente Rodrigo, mi corazón siempre os aguardará. xoxo A.C.</p>
        <div class="second-paper">
            <p class="news">¡Rodrigo es MÍO!  ¡fresca!</p>
        </div>
    </article>
    <article class="article two">
        <h2 class="title">Titulo</h2>
        <p class="news">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti debitis assumenda, hic itaque totam pariatur nam ratione fugiat culpa architecto asperiores laborum at est nobis maiores repellendus laboriosam error a?</p>
    </article>
    <article class="article three">
        <h2 class="title">Titulo</h2>
        <p class="news">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti debitis assumenda, hic itaque totam pariatur nam ratione fugiat culpa architecto asperiores laborum at est nobis maiores repellendus laboriosam error a?</p>
    </article>
    <article class="article four">
        <h2 class="title">Titulo</h2>
        <p class="news">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti debitis assumenda, hic itaque totam pariatur nam ratione fugiat culpa architecto asperiores laborum at est nobis maiores repellendus laboriosam error a?</p>
    </article>
</main> 