<main class="party-board">
    <div class="container">
        <div class="page two">
            <div class="front">
                <p><strong>Rodrigo ·</strong> Castilla</p>
                <ul class="party-stats">
                    <li>Músculo: </li>
                    <li>Maña:</li>
                    <li>Ingenio:</li>
                    <li>Brio:</li>
                    <li>Donaire:</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, facilis fuga, dolor aut natus commodi quos vel a ducimus tenetur nesciunt debitis! Ab pariatur odio ut labore quas molestias natus!</p>
            </div>
        </div>
        <div class="page one">
            <div class="front">
                <p><strong>Rodrigo ·</strong> Castilla</p>
                <img class="character-img" src="https://i.pinimg.com/originals/83/ae/f7/83aef79b90b2fc543771ecfc1b3d8b51.png" alt="">
                <ul class="party-stats">
                    <li>Músculo: </li>
                    <li>Maña:</li>
                    <li>Ingenio:</li>
                    <li>Brio:</li>
                    <li>Donaire:</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, facilis fuga, dolor aut natus commodi quos vel a ducimus tenetur nesciunt debitis! Ab pariatur odio ut labore quas molestias natus!</p>
            </div>
        </div>
        <div class="page cover animationOpen"> 
            <div class="back backcover">
                <aside class="members-list">
                    <h3>Lista de aventureros:</h3>
                    <ul class="party-members">
                        <li>Antoine</li>
                        <li>Isabela</li>
                        <li>Martino</li>
                        <li>Petra</li>
                        <li>Rodrigo</li>
                        <li>Tomas</li>
                        <li>Val</li>
                        <li>Capitan</li>
                        <li>Señor hoja roja</li>
                    </ul>
                </aside>
            </div>
            <div class="front frontcover"><p>⊰Ecos del Pasado⊱</p></div>
        </div>
    </div> 
</main> 